<div class="select" v-bind:class="{ select__invalid: isInvalid }">
    <div class="select__input">
        <input v-if="showSearch" type="text"
               v-model="term"
               @keydown="choose($event) | key 13,
               goUp($event) | key 38,
               goDown($event) | key 40">
    </div>
    <a class="select__btn ellipsis" href="#" @click="open">{{ currentSelection.name }}</a>
    <div class="select__dropdown" v-show="dropdownOpen">
        <ul>
            <li v-for="option in filteredOptions">
                <a href="#" @click="setValue(option, $event)"
                   v-bind:class="{ select__highlight: option.value == currentValue }">
                    {{ option.name }}
                </a>
            </li>
        </ul>
    </div>
</div>