<script>
import swal from 'sweetalert'
import _ from 'lodash'

export default {
  http: {
      headers: {
          'X-CSRF-TOKEN': document.querySelector('#metatoken').getAttribute('content')
      }
  },

    data: () => {
        return {
            operation: '',
            operations: [],
            date_from: '',
            date_to: '',

            filtering: false
        };
    },

    props: {
        url: ''
    },

    methods: {
        filterSearch: function($event) {
            $event.preventDefault();

            this.filtering = true;

            $('#loanfilter').jsGrid('search', {
                operation:      this.operation,
                work_shift:     this.work_shift,
                date_from:      this.date_from,
                date_to:        this.date_to,
                order_number:   this.order_number,
                dispenser:      this.dispenser,
                external:       this.external,
                return_type:    this.return_type
            });
        },

        formattedDate: function(value) {
          var MyDate = new Date(value);
          var MyDateString;

          MyDateString = ('0' + MyDate.getDate()).slice(-2) + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-'
                      + MyDate.getFullYear();

          return MyDateString;
        },

        clearFilters: function($event) {
            $event.preventDefault();

            this.filtering    = true;
            this.operation    = '';
            this.work_shift   = '';
            this.date_from    = '';
            this.date_to      = '';
            this.order_number = '';
            this.dispenser    = '';
            this.external     = '';
            this.return_type  = '';

            $('#loanfilter').jsGrid("search");
        },

        guardaDevolucion: function($event){
            $event.preventDefault();
        },

        registerReturn: function($event) {
          if (this.isamount && _.isEmpty(this.returnAmount)) {
            swal('Atención!', 'Debe especificar el monto a devolver', 'warning');
            return;
          }

          this.$http({
              url: $event.target.getAttribute('action'),
              method: 'POST',
              data: {
                amount: this.returnAmount,
                isAmount: this.isamount,
                loans: this.returns
              }
          })
              .then(response => {
                if (response.data.success) {
                  if (typeof response.data.title != 'undefined') {
                    swal(response.data.title, response.data.message, 'success');
                  }

                  _.each(this.returns, function(item) {
                    var rowElement = $('.rowid-' + item.id);
                    rowElement.find('.col-edit, .col-destroy').empty();
                    var colReturn = rowElement.find('.col-return'),
                      colReturnName = rowElement.find('.col-returnname'),
                      colReturnStatus = rowElement.find('.col-returnstatus');

                    colReturn.empty();
                    colReturn.attr('data-toggle', 'tooltip')
                      .attr('title', 'Devuelto!');
                    colReturn.html('<span class="glyphicon glyphicon-ok-circle btn-lg"></span>');
                    colReturnName.empty().text(response.data.returnName);
                    colReturnStatus.empty().text('Si');
                  }, this);

                  this.returnAmount = 0;
                  this.isamount = false;
                  this.returns = [];
                  $('#registroDevolucion').modal('hide');
                } else {
                  this.errors = response.data.errors;
                }
            }, response => {
                this.errors = response.data;
            });
        },

        isamountStatus: function() {
            this.isamount = !this.isamount;

            return this.isamount;
        },

        updateWorkShifts: function() {
            this.$http.get('/ajax/search-filters/work-shift-by-operation?operation_id=' + this.operation)
                .then(function (response){
                    this.work_shifts = response.data;
                });
        },

        exportExcel: function () {
            window.location.href = '/loan?export=1&' + $.param({
                    operation: this.operation,
                    work_shift: this.work_shift,
                    date_from: this.date_from,
                    date_to: this.date_to,
                    order_number: this.order_number,
                    dispenser: this.dispenser,
                    external_enterprise: this.external,
                    return_type: this.return_type
                });
        }

        /*
        separadorDeMiles: function() {
            var formatNumber = {
                separador: ".", // separador para los miles
                sepDecimal: ',', // separador para los decimales
                formatear:function (num){
                num +='';
                var splitStr = num.split('.');
                var splitLeft = splitStr[0];
                var splitRight = splitStr.length &gt; 1 ? this.sepDecimal + splitStr[1] : '';
                var regx = /(\d+)(\d{3})/;
                while (regx.test(splitLeft)) {
                    splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
                }
                return this.simbol + splitLeft +splitRight;
            },

            new:function(num, simbol){
                this.simbol = simbol ||'';
                return this.formatear(num);
            },
        */
    }
}
</script>
