<script>
export default {
    http: {
        headers: {
            'X-CSRF-TOKEN': document.querySelector('#metatoken').getAttribute('content')
        }
    },

        data: function() {
            return {
                operation_id: '',
                operations: [],
                work_shift:     '',
                work_shifts:    [],
                date_from:      '',
                date_to:        '',
                loaded_origin:  '',
                loaded_destination: '',
                responsible:    '',

                filtering: false,

                jsgrid: null
            };
        },

        props: {
            url: '',
        },

        ready: function() {
            var that = this;

            this.jsgrid = $("#dispensadoresfilter");

            this.jsgrid.jsGrid({
                width: "100%",
                height: "430px",
                pageSize: 10,

                filtering: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                pageLoading: true,
                controller: {
                    loadData: function(filter) {
                        if (that.filtering == undefined || that.filtering !== true) {
                            filter.operation_id        = that.operation_id;
                            filter.work_shift       = that.work_shift;
                            filter.date_from        = that.date_from;
                            filter.date_to          = that.date_to;
                            filter.loaded_origin    = that.loaded_origin;
                            filter.loaded_destination = that.loaded_destination;
                            filter.responsible      = that.responsible;
                        }
                        return $.ajax({
                            type: "GET",
                            url: that.url,
                            data: filter
                        });
                    }
                },

                fields: [
                    { name: "id", type: "control", width: 30, cellRenderer: function(value, item) {
                        return '<td><a href="dispensadores/' + value + '/edit" class="btn btn-sm btn-default button-edit" data-toggle="tooltip" data-title="Editar"><span class="glyphicon glyphicon-pencil"></span></a></td>';
                    } },
                    { name: "id", type: "control", width: 30, cellRenderer: function(value, item) {
                        return '<td><a href="dispensadores/' + value + '" class="btn btn-default btn-sm button-destroy" data-toggle="tooltip" data-title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a></td>';
                    } },
                    { name: "operation", title: "Faena", type: "text", width:80 },
                    { name: "origin", title: "Dispensador origen", type: "text", width:80 },
                    { name: "destination", title: "Dispensador destino", type: "text", width:80 },
                    { name: "load_date", title: "Fecha carga", type: "datetime", align: "center", width: 50, cellRenderer: function (value, item) {
                        var MyDate = new Date(value);
                        var MyDateString;

                        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                                + MyDate.getFullYear();

                        return '<td>' + MyDateString + '</td>';
                    } },
                    { name: "liters", title: "Litros", type: "number", width: 45 },
                    { name: "responsible", title: "Responsable", type: "text", width:80 }
                ]
            });

            this.jsgrid.on('click', 'a.button-destroy', function(e) {
                e.preventDefault();
                var el = $(e.currentTarget)
                swal({
                    title: 'Atención!',
                    text: '<p>Esta seguro que desea aliminar esta carga?,</p><p>Se descontará el stock del dispensador de destino y se devolverá al dispensador de origen</p>',
                    cancelButtonText: 'No',
                    type: 'info',
                    html: true,
                    confirmButtonText: 'Si',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function(isConfirm) {
                    if (isConfirm) {
                        that.$http.delete(el.attr('href'))
                                .then(function (response) {
                                    if (response.data.Status == 'OK') {
                                        swal('Atención', 'La carga ha sido restaurada al dispensador de origen', 'success')
                                        that.jsgrid.jsGrid("search");
                                    } else {
                                        swal(response.data.title, response.data.message, 'error')
                                    }
                                })
                    }
                })
            })
        },

        methods: {
            filterSearch: function($event) {
                $event.preventDefault();

                this.filtering = true;

                this.jsgrid.jsGrid('search', {
                    operation_id:      this.operation_id,
                    work_shift:     this.work_shift,
                    date_from:      this.date_from,
                    date_to:        this.date_to,
                    loaded_origin:  this.loaded_origin,
                    loaded_destination: this.loaded_destination,
                    responsible:    this.responsible
                });
            },

            clearFilters: function($event) {
                $event.preventDefault();

                this.filtering      = true;
                this.operation_id      = '';
                this.work_shift     = '';
                this.date_from      = '';
                this.date_to        = '';
                this.loaded_origin  = '';
                this.loaded_destination = '';
                this.responsible    = '';

                this.jsgrid.jsGrid("search");
            },

            operationChanged: function() {
                this.work_shift  = '';
                this.work_shifts = [];
                if (this.operation_id != '') {
                    //actualizar turnos
                    this.$http.get(
                            '/ajax/search-filters/work-shift-by-operation', {
                                operation_id: this.operation_id
                            },
                            function(data){
                                this.work_shifts = data;
                            }
                    );
                }
            },

            exportExcel: function () {
                window.location.href = '/dispensadores?export=1&' + $.param({
                            operation_id:   this.operation_id,
                            work_shift:     this.work_shift,
                            date_from:      this.date_from,
                            date_to:        this.date_to,
                            loaded_origin:  this.loaded_origin,
                            loaded_destination: this.loaded_destination,
                            responsible:    this.responsible
                        });
            }
        }
    }
</script>
