.serfocol-fixed-container {
    left: 250px;
    background-color: #91aa25;

    #gradient > .vertical(@start-color: #91aa25; @end-color: #91aa25);
    .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
    @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    .box-shadow(@shadow);

    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
      #gradient > .vertical(@start-color: #91aa25; @end-color: #91aa25);
      .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
    }
    
    color: #FFFFFF;
    
    p.navbar-text {
        color: #FFFFFF;
    }
    
    a {
        color: #FFFFFF;
    }
}