/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #91aa25;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    h1.logo {
        background-color: #FFFFFF;
        margin: 0 0 10px;
        
        a {
            text-indent: -90000px;
            outline: none;
            background-size: contain;
            background: #FFFFFF url('../img/logo.png') center center no-repeat;
            background-size: contain;
            display: block;
            width: 100%;
            height: 118px;
        }
    }
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-top: 55px !important;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    &.toggled {
        padding-left: 250px;
        
        #sidebar-wrapper {
            width: 250px;
        }
        
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    }
}



/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 118px 0 0 0;
    list-style: none;
    
    li {
        text-indent: 20px;
        line-height: 40px;
        color: #999999;
        
        a {
            display: block;
            text-decoration: none;
            color: #FFFFFF;
            
            &:hover {
                text-decoration: none;
                color: #fff;
                background: #a6c32d;
            }
            
            &:active, &:focus {
                text-decoration: none;
            }
        }
        
        &.active {
            a {
                background: #FFFFFF;
                color: #000000;
                
                &:hover {
                    background: darken(#FFFFFF, 20%);
                }
            }
        }
    }
    
    > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        
        a {
            color: #999999;
            
            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}


@media(min-width:768px) {
    #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    
    #wrapper {
        padding-left: 250px;
        
        &.toggled {
            padding-left: 0;
            
            #sidebar-wrapper {
                width: 0;
            }
            
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    }
}