<script>
    export default {
        http: {
            headers: {
                'X-CSRF-TOKEN': document.querySelector('#metatoken').getAttribute('content')
            }
        },

        data () {
            return {
                operation       : '',
                operations      : [],

                jsgrid: null
            };
        },

        props: {
            url: ''
        },

        ready () {
            var that = this

            this.jsgrid = $("#workShiftsFilter")

            this.jsgrid.jsGrid({
                width: "100%",
                height: "430px",
                pageSize: 10,

                filtering: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                pageLoading: true,
                controller: {
                    loadData: function(filter) {
                        if (that.filtering == true) {
                            filter.operation    = that.operation;
                        }

                        return $.ajax({
                            type: "GET",
                            url: that.url,
                            data: filter
                        });
                    }
                },

                fields: [
                    //EL BOTÓN MODIFICAR, DEBE ESTAR HABILITADO PARA LA PERSONA QUE ACTUALIZA ALGUNOS DATOS, POSTERIRO A LA RECEPCIÓN EN FAENA
                    { name: "id", type: "control", width: 30, cellRenderer: function(value, item) {
                        if (item.received === 1) {
                            return '<td></td>';
                        } else {
                            return '<td><a href="compra/'+value+'/edit" class="btn btn-sm btn-default button-edit" data-toggle="tooltip" data-title="Editar"><span class="glyphicon glyphicon-pencil"></span></a></td>';
                        }
                    } },
                    { name: "id", type: "control", width: 30, cellRenderer: function(value, item) {
                        if (item.received === 1){
                            return '<td></td>';
                        }else{
                            return '<td><a href="compra/'+value+'" class="btn btn-danger btn-sm btn-destroy button-destroy" data-toggle="tooltip" data-title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a></td>';
                        }
                    } },
                    { name: "received", title: "Recep.", type: "text", width: 30, align: "center", cellRenderer: function(value, item) {
                        if (value === 1) {
                            return '<td class="success"><button class="btn btn-sm btn-success" disabled type="button"><span class="glyphicon glyphicon-check"></span></button></td>';
                        }else{
                            return '<td><a href="compra/'+item.id+'/confirm" class="btn btn-default btn-sm btn-confirm" ><span class="glyphicon glyphicon-thumbs-up"></span></a></td>';
                        }
                    } },
                    { name: "operation", title: "Faena", type: "text", width:50 },
                    { name: "load_date", title: "Fecha compra", type: "date", width: 50, align: "center", cellRenderer: function (value, item) {
                        var MyDate = new Date(value);
                        var MyDateString;

                        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                                + MyDate.getFullYear();

                        return '<td>' + MyDateString + '</td>';
                    } },
                    { name: "order_number", title: "Nº Pedido", type: "number", width: 50 },
                    { name: "bill_number", title: "Nº Factura", type: "number", width: 45 },
                    { name: "provider", title: "Proveedor", type: "text", width: 80 },
                    { name: "dispenser", title: "Dispensador", type: "text", width: 50 },
                    { name: "liters", title: "Litros", type: "number", width: 40 },
                    { name: "net_price", title: "Precio Neto", type: "number", width: 45, cellRenderer: function (value, item) {
                        return '<td>$' + value + '</td>';
                    } },
                    { name: "net_value", title: "Valor Neto", type: "number", width: 45, cellRenderer: function (value, item) {
                        return '<td>$' + value + '</td>';
                    } },
                    { name: "fuel_tax", title: "IEC", type: "number", width: 50, cellRenderer: function (value, item) {
                        return '<td>$' + value + '</td>';
                    } },
                    { name: "tax", title: "IVA", type: "number", width: 50, cellRenderer: function (value, item) {
                        return '<td>$' + value + '</td>';
                    } },
                    { name: "total_amount", title: "Total", type: "number", width: 45, cellRenderer: function (value, item) {
                        return '<td>$' + value + '</td>';
                    } }
                ]
            })

            this.jsgrid.on('click', 'a.btn-confirm', function(e) {
                e.preventDefault()
                var el = $(e.currentTarget)
                that.$http.post(el.attr('href'))
                        .then(function (response) {
                            el.addClass('disabled btn-success').removeClass('btn-confirm')
                            el.find('span').removeClass('glyphicon-thumbs-up').addClass('glyphicon-check')
                            el.closest('tr').find('.button-edit, .button-destroy').remove()
                        })
            })

            this.jsgrid.on('click', 'a.btn-destroy', function(e) {
                e.preventDefault();
                var el = $(e.currentTarget);
                swal({
                    title: 'Atención!',
                    text: 'Esta seguro que desea aliminar esta compra?',
                    cancelButtonText: 'No',
                    confirmButtonText: 'Si',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function(isConfirm) {
                    if (isConfirm) {
                        that.$http.delete(el.attr('href'))
                                .then(function (response) {
                                    console.log(response.data);
                                    console.log(response.data.Status);
                                    if (response.data.Status == 'OK') {
                                        swal('Atención', 'La compra ha sido eliminada', 'success');
                                        that.jsgrid.jsGrid("search");
                                    } else {
                                        swal(response.data.title, response.data.message, 'error');
                                    }
                                });
                    }
                });
            });
        },

        methods: {
            filterSearch: function($event) {

            },

            clearFilters: function($event) {

            }
        }
    };
</script>
