<script>
import swal from 'sweetalert'
import _ from 'lodash'

export default {
  http: {
      headers: {
          'X-CSRF-TOKEN': document.querySelector('#metatoken').getAttribute('content')
      }
  },

    data: () => {
        return {
            operation: '',
            operations: [],
            work_shift: '',
            work_shifts: [],
            date_from: '',
            date_to: '',
            dispenser: '',
            dispensers: [],
            external: '',
            externals: [],
            return_type: '',

            returnAmount: '',
            isamount: false,
            returns: [],
            totalLitros: 0,

            filtering: false
        };
    },

    props: {
        url: ''
    },

    ready: function() {
        var that = this;

        $("#loanfilter").jsGrid({
            width: "100%",
            height: "430px",
            pageSize: 10,

            filtering: false,
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,
            pageLoading: true,
            rowClass: function(item, itemIndex) {
              return 'rowid-' + item.id;
            },
            controller: {
                loadData: filter => {
                    if (that.filtering == undefined || that.filtering !== true) {
                        filter.operation    = that.operation;
                        filter.work_shift   = that.work_shift;
                        filter.date_from    = that.date_from;
                        filter.date_to      = that.date_to;
                        filter.order_number = that.order_number;
                        filter.dispenser    = that.dispenser;
                        filter.external     = that.external;
                        filter.return_type  = that.return_type;
                    }

                    return $.ajax({
                        type: "GET",
                        url: that.url,
                        data: filter
                    });
                }
            },

            fields: [
                { name: "id", type: "control", width: 18, cellRenderer: (value, item) => {
                    if(item.returns_id == null){
                        return '<td class="col-edit"><a href="loan/'+value+'/edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span></a></td>';
                    }else{
                        return '<td></td>';
                    }
                } },
                { name: "id", type: "control", width: 18, cellRenderer: (value, item) => {
                    if(item.returns_id == null){
                        return '<td class="col-destroy"><a href="loan/'+value+'/delete" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a></td>';
                    }else{
                        return '<td></td>';
                    }
                } },
                { name: "returns_id", title: "Estado", type: "control", width: 18, cellRenderer: function(value, item) {
                    if (value == null) {
                        return '<td align="center" class="col-return"><input type="checkbox" class="checkDevolucion" value="'+value+'" data-loan=\''+JSON.stringify(item)+'\'/></td>';
                    } else {
                        return '<td align="center" data-toggle="tooltip" title="Devuelto!"><span class="glyphicon glyphicon-ok-circle btn-lg"></span></td>';
                    }
                } },
                { name: "returns_id", title: "Registra Devolución", type: "text", width: 45, cellRenderer: function(value, item) {
                  if (value == null) {
                      return '<td align="center" class="col-returnstatus">No</td>';
                  } else {
                      return '<td align="center" class="col-returnstatus">Si</td>';
                  }
                } },
                { name: "return_type", title: "Tipo de Devolución", type: "text", width: 45, cellRenderer: function(value, item) {
                  var val = _.isEmpty(value) ? '--' : value;
                  return '<td class="col-returnname">' + val + '</td>';
                } },
                { name: "operation", title: "Faena", type: "text", width:60 },
                { name: "load_date", title: "Fecha préstamo", type: "text", width: 50, align: "center", cellRenderer: function (value, item) {
                    var MyDate = new Date(value);
                    var MyDateString;

                    MyDateString = ('0' + MyDate.getDate()).slice(-2) + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-'
                                + MyDate.getFullYear();

                    return '<td>' + MyDateString + '</td>';
                } },
                { name: "work_shift", title: "Turno", type: "text", width: 30, align: "center" },
                { name: "order_number", title: "Nº Guía", type: "number", align: "center", width: 50 },
                { name: "dispenser", title: "Dispensador", type: "text", width: 80 },
                { name: "external_enterprise", title: "Empresa externa", type: "text", width: 80 },
                { name: "liters", title: "Litros cargados", type: "number", width: 50 }
            ]
        });

        $('#registroDevolucion').on('show.bs.modal', function (e) {
            $('.prestamosSeleccionados').empty();
            if($('.checkDevolucion:checked').length == 0){
              swal('Atención', 'Debe seleccionar al menos un préstamo', 'warning');
              return false;
            }

            var seleccionados = $('.checkDevolucion:checked'),
              totalLitros = 0;

            that.returns = [];
            seleccionados.each(function(i, item){
                var loan = $(this).data('loan'),
                  liters = loan.liters.replace('.', '');

                totalLitros = totalLitros + parseInt(liters);
                that.returns.push(loan);
            });

            that.totalLitros = totalLitros.toLocaleString('es-CL')
        });
    },

    methods: {
        filterSearch: function($event) {
            $event.preventDefault();

            this.filtering = true;

            $('#loanfilter').jsGrid('search', {
                operation:      this.operation,
                work_shift:     this.work_shift,
                date_from:      this.date_from,
                date_to:        this.date_to,
                order_number:   this.order_number,
                dispenser:      this.dispenser,
                external:       this.external,
                return_type:    this.return_type
            });
        },

        formattedDate: function(value) {
          var MyDate = new Date(value);
          var MyDateString;

          MyDateString = ('0' + MyDate.getDate()).slice(-2) + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-'
                      + MyDate.getFullYear();

          return MyDateString;
        },

        clearFilters: function($event) {
            $event.preventDefault();

            this.filtering    = true;
            this.operation    = '';
            this.work_shift   = '';
            this.date_from    = '';
            this.date_to      = '';
            this.order_number = '';
            this.dispenser    = '';
            this.external     = '';
            this.return_type  = '';

            $('#loanfilter').jsGrid("search");
        },

        guardaDevolucion: function($event){
            $event.preventDefault();
        },

        registerReturn: function($event) {
          if (this.isamount && _.isEmpty(this.returnAmount)) {
            swal('Atención!', 'Debe especificar el monto a devolver', 'warning');
            return;
          }

          this.$http({
              url: $event.target.getAttribute('action'),
              method: 'POST',
              data: {
                amount: this.returnAmount,
                isAmount: this.isamount,
                loans: this.returns
              }
          })
              .then(response => {
                if (response.data.success) {
                  if (typeof response.data.title != 'undefined') {
                    swal(response.data.title, response.data.message, 'success');
                  }

                  _.each(this.returns, function(item) {
                    var rowElement = $('.rowid-' + item.id);
                    rowElement.find('.col-edit, .col-destroy').empty();
                    var colReturn = rowElement.find('.col-return'),
                      colReturnName = rowElement.find('.col-returnname'),
                      colReturnStatus = rowElement.find('.col-returnstatus');

                    colReturn.empty();
                    colReturn.attr('data-toggle', 'tooltip')
                      .attr('title', 'Devuelto!');
                    colReturn.html('<span class="glyphicon glyphicon-ok-circle btn-lg"></span>');
                    colReturnName.empty().text(response.data.returnName);
                    colReturnStatus.empty().text('Si');
                  }, this);

                  this.returnAmount = 0;
                  this.isamount = false;
                  this.returns = [];
                  $('#registroDevolucion').modal('hide');
                } else {
                  this.errors = response.data.errors;
                }
            }, response => {
                this.errors = response.data;
            });
        },

        isamountStatus: function() {
            this.isamount = !this.isamount;

            return this.isamount;
        },

        updateWorkShifts: function() {
            this.$http.get('/ajax/search-filters/work-shift-by-operation?operation_id=' + this.operation)
                .then(function (response){
                    this.work_shifts = response.data;
                });
        },

        exportExcel: function () {
            window.location.href = '/loan?export=1&' + $.param({
                    operation: this.operation,
                    work_shift: this.work_shift,
                    date_from: this.date_from,
                    date_to: this.date_to,
                    order_number: this.order_number,
                    dispenser: this.dispenser,
                    external_enterprise: this.external,
                    return_type: this.return_type
                });
        }

        /*
        separadorDeMiles: function() {
            var formatNumber = {
                separador: ".", // separador para los miles
                sepDecimal: ',', // separador para los decimales
                formatear:function (num){
                num +='';
                var splitStr = num.split('.');
                var splitLeft = splitStr[0];
                var splitRight = splitStr.length &gt; 1 ? this.sepDecimal + splitStr[1] : '';
                var regx = /(\d+)(\d{3})/;
                while (regx.test(splitLeft)) {
                    splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
                }
                return this.simbol + splitLeft +splitRight;
            },

            new:function(num, simbol){
                this.simbol = simbol ||'';
                return this.formatear(num);
            },
        */
    }
}
</script>
